
@{
    ViewBag.Title = "TestJs";
}

<h2>TestJs</h2>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th class="center">客戶名稱</th>
            <th class="center">客戶分類</th>
            <th class="center">統一編號</th>
            <th class="center">電話</th>
            <th class="center">傳真</th>
            <th class="center">地址</th>
            <th class="center">Email</th>
        </tr>
    </thead>
    <tbody id="contacts"></tbody>
</table>

<script>
    $(function () {
        $.ajax({
            url: '<%=Url.Action("TestJs") %>',
            type: "Get",
            dataType: "json",
            success: SetValue(result)
        })
    });
    function SetValue(data) {
        //alert(data);
        var row = "";
        var i = 0;
        $.each(data, function () {
            row += "<tr>" +
                "<td>" + data[i].客戶名稱 + "</td>" +
                "<td>" + data[i].客戶分類 + "</td>" +
                "<td>" + data[i].統一編號 + "</td>" +
                "<td>" + data[i].電話 + "</td>" +
                "<td>" + data[i].傳真 + "</td>" +
                "<td>" + data[i].地址 + "</td>" +
                "<td>" + data[i].Email + "</td>" +
                "</tr>";
            i++;
        });
        $("#contacts").html(row);
    }
</script>